@import './base.css';

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

button {
  margin: 8px;
  padding: 4px 8px;
  background: none;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: var(--button-bg-hover);
}

input[type='checkbox'] {
  transform: scale(1.4);
  vertical-align: middle;
}
